.root {
  @media screen and (width >= 768px) {
    background-color: white;
    width: 30rem;
    padding: 1.5rem;
    margin: 0 auto;
    border: 1px solid #e0e0e0;
    border-radius: 0.5rem;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.15);
  }
}
