.root {
  .disclaimer {
    font-size: 0.7rem;

    a {
      color: var(--primary-color);
    }
  }

  .error {
    color: red;
    margin-bottom: 1rem;
  }
  .register {
    text-align: center;

    Link {
      color: var(--primary-color);
    }
  }
}
